<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright Car Connectivity Consortium
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  ~ You may decide to give the Car Connectivity Consortium input, suggestions
  ~ or feedback of a technical nature which may be implemented on the
  ~ Car Connectivity Consortium products (“Feedback”).
  ~
  ~ You agrees that any such Feedback is given on non-confidential
  ~ basis and Licensee hereby waives any confidentiality restrictions
  ~ for such Feedback. In addition, Licensee grants to the Car Connectivity Consortium
  ~ and its affiliates a worldwide, non-exclusive, perpetual, irrevocable,
  ~ sub-licensable, royalty-free right and license under Licensee’s copyrights to copy,
  ~ reproduce, modify, create derivative works and directly or indirectly
  ~ distribute, make available and communicate to public the Feedback
  ~ in or in connection to any CCC products, software and/or services.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carconnectivity.testapp">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="28" />
	<uses-permission android:name="com.mirrorlink.android.service.ACCESS_PERMISSION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="${appName}"
        android:theme="@style/CCCTheme" 
        android:name="ApplicationContext">
        <activity
            android:name="com.carconnectivity.testapp.MainActivity"
			android:launchMode="singleTop"
			android:label="${appName}" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.mirrorlink.android.app.TERMINATE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.mirrorlink.android.app.LAUNCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
		<activity android:name="com.carconnectivity.testapp.Versions" android:launchMode="singleTop" android:label="Versions" android:parentActivityName=".MainActivity" />
		<activity android:name="com.carconnectivity.testapp.MirrorLinkClientInformation"  android:launchMode="singleTop" android:label="MirrorLink Client Information" android:parentActivityName=".MainActivity" />
		<activity android:name="com.carconnectivity.testapp.ApplicationCertificateStatus" android:launchMode="singleTop" android:label="Application Certificate Status" android:parentActivityName=".MainActivity" />
		<activity android:name="com.carconnectivity.testapp.MirrorLinkConnection" android:launchMode="singleTop" android:label="MirrorLink Connection Status" android:parentActivityName=".MainActivity" />
		<activity android:name="com.carconnectivity.testapp.MirrorLinkAudioConnection" android:launchMode="singleTop" android:label="MirrorLink Audio Connection Status" android:parentActivityName=".MainActivity" />
		<activity android:name="com.carconnectivity.testapp.MirrorLinkRemoteDisplayConnection" android:launchMode="singleTop" android:label="MirrorLink Remote Display Connection Status" android:parentActivityName=".MainActivity" />
		<activity android:name="com.carconnectivity.testapp.MirrorLinkClientDisplayInformation" android:launchMode="singleTop" android:label="MirrorLink Client Display Information Status" android:parentActivityName=".MainActivity" />
		<activity android:name="com.carconnectivity.testapp.MirrorLinkPixelFormat" android:launchMode="singleTop" android:label="MirrorLink Client Pixel Format" android:parentActivityName=".MainActivity" />
		<activity android:name="com.carconnectivity.testapp.MirrorLinkEventConfigurationInformation" android:launchMode="singleTop" android:label="MirrorLink Event" android:parentActivityName=".MainActivity" />
		<activity android:name="com.carconnectivity.testapp.MirrorLinkEventMappingInformation" android:launchMode="singleTop" android:label="MirrorLink Event Mapping" android:parentActivityName=".MainActivity" />                
		<activity android:name="com.carconnectivity.testapp.MirrorLinkContextInformation" android:launchMode="singleTop" android:label="MirrorLink Context Information" android:parentActivityName=".MainActivity" />        
		<activity android:name="com.carconnectivity.testapp.MirrorLinkDriveModeStatus" android:launchMode="singleTop" android:label="MirrorLink Drive Mode Status" android:parentActivityName=".MainActivity" />     
		<activity android:name="com.carconnectivity.testapp.utils.MirrorLinkDriveModeScreen" android:launchMode="singleTop" android:label="MirrorLink Drive Mode Status" />     
		<activity android:name="com.carconnectivity.testapp.MirrorLinkApiModules" android:launchMode="singleTop" android:label="MirrorLink API Modules" android:parentActivityName=".MainActivity" />     
		<activity android:name="com.carconnectivity.testapp.MirrorLinkVrtKeyboard" android:launchMode="singleTop" android:label="MirrorLink Server Virtual Keyboard Support" android:parentActivityName=".MainActivity" />
		<activity android:name="com.carconnectivity.testapp.MirrorLinkNightModeStatus" android:launchMode="singleTop" android:label="MirrorLink Night Mode" android:parentActivityName=".MainActivity" />     
		<activity android:name="com.carconnectivity.testapp.MirrorLinkMicrophoneStatus" android:launchMode="singleTop" android:label="MirrorLink Microphone" android:parentActivityName=".MainActivity" />    
		<activity android:name="com.carconnectivity.testapp.MirrorLinkDataServices" android:launchMode="singleTop" android:label="MirrorLink Data Services" android:parentActivityName=".MainActivity" />    
		<activity android:name="com.carconnectivity.testapp.MirrorLinkDataServicesDetails" android:launchMode="singleTop" android:label="MirrorLink Data Services" android:parentActivityName=".MainActivity" />    
		<activity android:name="com.carconnectivity.testapp.MirrorLinkDataServicesLocationObject" android:launchMode="singleTop" android:label="MirrorLink Location Object" android:parentActivityName=".MainActivity" />    
		<activity android:name="com.carconnectivity.testapp.MirrorLinkNotification"  android:launchMode="singleTop" android:label="MirrorLink Notification" android:parentActivityName=".MainActivity" />    
		<activity android:name="com.carconnectivity.testapp.MirrorLinkNotificationSend" android:launchMode="singleTop" android:label="MirrorLink Send Notification" android:parentActivityName=".MainActivity" />    
		<activity android:name="com.carconnectivity.testapp.MirrorLinkNotificationConfiguration" android:launchMode="singleTop" android:label="MirrorLink Notification Configuration" android:parentActivityName=".MainActivity" />    
		<activity android:name="com.carconnectivity.testapp.MirrorLinkOrientation" android:launchMode="singleTop" android:label="MirrorLink Orientation" android:parentActivityName=".MainActivity" />    
		<activity android:name="com.carconnectivity.testapp.MirrorLinkAudioContextInformation" android:launchMode="singleTop" android:label="MirrorLink Audio Context" android:parentActivityName=".MainActivity" />     
		<activity android:name="com.carconnectivity.testapp.utils.MirrorLinkFullScreenAnimation" android:launchMode="singleTop" android:label="Full Screen Animation" android:parentActivityName=".MainActivity" />    
		<activity android:name="com.carconnectivity.testapp.utils.MirrorLinkPartScreenAnimation" android:launchMode="singleTop" android:label="Part Screen Animation" android:parentActivityName=".MainActivity" />  
		<activity android:name="com.carconnectivity.testapp.utils.KnobScreen" android:launchMode="singleTop" android:label="Knob events visualiser" android:parentActivityName=".MainActivity" />  
		<activity android:name="com.carconnectivity.testapp.utils.MultimediaKeysScreen" android:launchMode="singleTop" android:label="Multimedia/Function Keys Screen" android:parentActivityName=".MainActivity" />  
		<activity android:name="com.carconnectivity.testapp.utils.AudioEcho" android:launchMode="singleTop" android:label="Audio Echo" android:parentActivityName=".MainActivity" />  
		<activity android:name="com.carconnectivity.testapp.utils.AudioChannels" android:launchMode="singleTop" android:label="Audio Channels" android:parentActivityName=".MainActivity" />  
		    </application>
</manifest>
